{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<div class="card text-center">
    {% for formation in formations %}
    <div class="card-header">
      {{ formation.title}}
    </div>
    
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">{{formation.content1 | raw}}</p>
      <img class="article-img img-fluid" src="/uploads/files/{{formation.image1}}"/>
      <a href="#" class="btn btn-primary">En savoir plus</a>
      
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
