{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{# --Présentation-- #}
<div class="wrap">


<div>
{% for item in presentation %}
{{ item.title1}}
{% endfor %}
</div>

Formulaire de contact
{{form(form)}}
{% endblock %}
