{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{# --Carousel-- #}
<div>
  <div class="carousel">
    <ul class="slides"> 
      <input type="radio" name="radio-buttons" id="img-1" checked />
      <li class="slide-container"> 
       
        <div class="slide-image">
         <h2>Histoire</h2></a>
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg">
        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-2" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-2" />
      
      <li class="slide-container">
        <div class="slide-image">
          <h2>Formations</h2></a>
          <img src="https://content.r9cdn.net/rimg/dimg/db/02/06b291e8-city-14912-171317ad83a.jpg?width=1750&height=1000&xhint=3040&yhint=2553&crop=true">
        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-3" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      
      <input type="radio" name="radio-buttons" id="img-3" />
      
      <li class="slide-container">
        <div class="slide-image">
          <h2>Blog</h2></a>
          <img src="https://speakzeasy.files.wordpress.com/2015/05/twa_blogpic_timisoara-4415.jpg">
        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-1" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <div class="carousel-dots">
        <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
        <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
        <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
      </div>
    </ul>
  </div>
</div>
{# --Présentation-- #}
<div class="wrap">
  
  <section>
    <h2>Présentation: </h2>
    <p>Godfather ipsum dolor sit amet. What's the matter with you, huh? What am I going to do? Am I going to make that baby an orphan before he's born? I am sorry. What happened to your father was business. I have much respect for your father. But your father, his thinking is old-fashioned. You must understand why I had to do that. Now let's work through where we go from here. I have a sentimental weakness for my children and I spoil them, as you can see. They talk when they should listen. It's not personal. It's business. In Sicily, women are more dangerous than shotguns.

      Very well. You want to do business with me. I will do business with you. Hey, listen, I want somebody good - and I mean very good - to plant that gun. I don't want my brother coming out of that toilet with just his dick in his hands, alright? When they come... they come at what you love. I'm your older brother, Mike, and I was stepped over! I know it was you, Fredo. You broke my heart. You broke my heart!
      
      It's an old habit. I spent my whole life trying not to be careless. Women and children can afford to be careless, but not men. You talk about vengeance. Is vengeance going to bring your son back to you? Or my boy to me? Only don't tell me you're innocent. Because it insults my intelligence and makes me very angry. Don Corleone, I am honored and grateful that you have invited me to your home on the wedding day of your daughter. And may their first child be a masculine child.
      
      I see you took the name of the town. What was your father's name? Don't ever give an order like that again. Not while I'm alive. Just when I thought I was out... they pull me back in. Fredo, you're my older brother, and I love you. But don't ever take sides with anyone against the Family again. Ever.
      
      The hotel, the casino. The Corleone Family wants to buy you out. Te salut, Don Corleone. Is that why you slapped my brother around in public? This one time, this one time I'll let you ask me about my affairs.
      
      You can act like a man! That's my family Kay, that's not me. Why did you go to the police? Why didn't you come to me first? What's the matter with you? Is this what you've become, a Hollywood finocchio who cries like a woman? "Oh, what do I do? What do I do?" What is that nonsense? Ridiculous!
      
      My father's name was Antonio Andolini... and this is for you. Do me this favor. I won't forget it. Ask your friends in the neighborhood about me. They'll tell you I know how to return a favor. I'm gonna make him an offer he can't refuse. I don't like violence, Tom. I'm a businessman; blood is a big expense.
      
      Never let anyone know what you are thinking. Leave the gun. Take the cannoli. My father is no different than any powerful man, any man with power, like a president or senator. Mr Corleone is Johnny Fontane's godfather. Now Italians regard that as a very close, a very sacred religious relationship.
    </p>
    <img src="https://picsum.photos/500/500" alt="">
    </section>
    <section> 
      <h2>Qui suis-je?</h2>
      <p>Godfather ipsum dolor sit amet. What's the matter with you, huh? What am I going to do? Am I going to make that baby an orphan before he's born? I am sorry. What happened to your father was business. I have much respect for your father. But your father, his thinking is old-fashioned. You must understand why I had to do that. Now let's work through where we go from here. I have a sentimental weakness for my children and I spoil them, as you can see. They talk when they should listen. It's not personal. It's business. In Sicily, women are more dangerous than shotguns.
  
        Very well. You want to do business with me. I will do business with you. Hey, listen, I want somebody good - and I mean very good - to plant that gun. I don't want my brother coming out of that toilet with just his dick in his hands, alright? When they come... they come at what you love. I'm your older brother, Mike, and I was stepped over! I know it was you, Fredo. You broke my heart. You broke my heart!
        
        It's an old habit. I spent my whole life trying not to be careless. Women and children can afford to be careless, but not men. You talk about vengeance. Is vengeance going to bring your son back to you? Or my boy to me? Only don't tell me you're innocent. Because it insults my intelligence and makes me very angry. Don Corleone, I am honored and grateful that you have invited me to your home on the wedding day of your daughter. And may their first child be a masculine child.
        
        I see you took the name of the town. What was your father's name? Don't ever give an order like that again. Not while I'm alive. Just when I thought I was out... they pull me back in. Fredo, you're my older brother, and I love you. But don't ever take sides with anyone against the Family again. Ever.
        
        The hotel, the casino. The Corleone Family wants to buy you out. Te salut, Don Corleone. Is that why you slapped my brother around in public? This one time, this one time I'll let you ask me about my affairs.
        
        You can act like a man! That's my family Kay, that's not me. Why did you go to the police? Why didn't you come to me first? What's the matter with you? Is this what you've become, a Hollywood finocchio who cries like a woman? "Oh, what do I do? What do I do?" What is that nonsense? Ridiculous!
        
        My father's name was Antonio Andolini... and this is for you. Do me this favor. I won't forget it. Ask your friends in the neighborhood about me. They'll tell you I know how to return a favor. I'm gonna make him an offer he can't refuse. I don't like violence, Tom. I'm a businessman; blood is a big expense.
        
        Never let anyone know what you are thinking. Leave the gun. Take the cannoli. My father is no different than any powerful man, any man with power, like a president or senator. Mr Corleone is Johnny Fontane's godfather. Now Italians regard that as a very close, a very sacred religious relationship.
      </p>
      <img src="https://picsum.photos/500/500" alt="">
      </section>
      <section>
        <h2>Une question? Contactez-moi: </h2>
      </section>
  </div>
  <div>
  <div class="container"> <div class=" text-center mt-5 "></div>
  <div class="row ">
      <div class="col-lg-7 mx-auto">
          <div class="card mt-2 mx-auto p-4 bg-light">
              <div class="card-body bg-light">
                  <div class="container">
                      <form id="contact-form" role="form">
                          <div class="controls">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group"> <label for="form_name">Firstname *</label> <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required."> </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group"> <label for="form_lastname">Lastname *</label> <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required."> </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group"> <label for="form_email">Email *</label> <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required."> </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group"> <label for="form_need">Please specify your need *</label> <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                              <option value="" selected disabled>--Select Your Issue--</option>
                                              <option>Request Invoice for order</option>
                                              <option>Request order status</option>
                                              <option>Haven't received cashback yet</option>
                                              <option>Other</option>
                                          </select> </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group"> <label for="form_message">Message *</label> <textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="4" required="required" data-error="Please, leave us a message."></textarea> </div>
                                  </div>
                                  <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Send Message"> </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div> <!-- /.8 -->
      </div> <!-- /.row-->
  </div>
</div>
</div>



{% endblock %}
