{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block content %}
	<div>
		<li> <a href="/">Accueil</a></li>
		<li><a href="/histoire">Histoire</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/register">Inscription</a></li>
	<div>

{% endblock %}