/*==================================== PROJETC STYLE ====================================*/
.btn{
    border: 1px;
    background-color: rgb(217, 217, 221);
}
.btn:hover{
    background-color: darkgray;
    color: white;
}
/*-------------Header---------*/
.header{
    border:3px solid black;
}
.carousel-item{
    max-height: 600px;
    
  
    
}
.carousel-item:hover{
    opacity:0.5;
   
}
.carousel-caption h2{
    color:rgb(43, 42, 42);
    font-size: 50px;
    font-weight: bolder;
    text-shadow:  rgb(221, 220, 217) 2px 0 15px;
    margin-bottom: 100px;
   
    
}
.carousel-caption{
   
}


  

    


/*---------------navbar--------*/
#navbarNavAltMarkup{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.navbar{
  background-color: whitesmoke;
}
  

.nav-link{
  color:#666;

}
.log{
  display: flex;
  flex-direction: row;
}


/*==================================== Presentation + contact ====================================*/

.container-presentation{

   
   padding:3rem;
   margin:5rem;
   text-align: center;
  }
  .contact-form{
   
    padding:2rem;
    margin:0rem 10rem;
    background-color: whitesmoke;
    
  }
 
