{% extends 'base.html.twig' %}

{% block body %}
<div class="body-history">
<div class="widget-wrap">
  <div id="grid"></div>
<h1>L'histoire de la POlice technique et scientifique</h1>
<div class="wrap-history">
<div class="vtl">
  {% for history in histories %}
  
  <div class="event">
    <div class="line">
      <p class="date">{{history.date}}</p>
    </div>
    <p class="subtitle"><b><i>{{history.subtitle | raw}}</i></b></p>
    <p class="txt">{{history.content | raw}} </p>
    
  </div>{% endfor %} 
</div>
</div>
</div></div>
{% endblock %}
