{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
 <!-- .card-body -->
 {% for user in users %}

 <div class="card-body text-center">
    <!-- .user-avatar -->
    
        <img src="/uploads/images/{{ app.user.image }}" alt="User Avatar"
             class="rounded-circle user-avatar-xl">
  
    <!-- /.user-avatar -->
    <h3 class="card-title mb-2 text-truncate">
        <a href="user-profile.html">{{ app.user.pseudo }}</a>
    </h3>
    
   
</div>
{% endfor %}

{% endblock %}
